Body { background-color: #f2f2f2; 
  font-family: "Open Sans";
}

h1 { background-color: #800080; text-align: center;
  color: #f2f2f2; 
}

h2 {
  color: #f2f2f2;
}

h3 {
  color: #800080; text-alight: center; padding: 100px; 
}

#virtuwellpurple { text-align: center; 
  background-color: #800080;
  padding: 100px;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: center; 
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #800080;
}

li a.active {
    color: #FFFFFF;
    background-color: #800080;
}
